/* Fade */

#jqt .fade.in {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

#jqt .fade.out {
    z-index: 10;
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    } 
    100% {
        opacity: 1;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    } 
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    } 
    100% {
        opacity: 1;
    }
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    } 
    100% {
        opacity: 1;
    }
}



/* Disolve */

#jqt .dissolve.in {
    -webkit-animation-name: dissolveIn;
    animation-name: dissolveIn;
}

#jqt .dissolve.out {
    -webkit-animation-name: dissolveOut;
    animation-name: dissolveOut;
}

@-webkit-keyframes dissolveIn {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 0;
    } 
    100% {
        opacity: 1;
    }
}
@keyframes dissolveIn {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 0;
    } 
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes dissolveOut {
    5% {
        opacity: 1;
    } 
    100% {
        opacity: 0;
    }
}
@keyframes dissolveOut {
    5% {
        opacity: 1;
    } 
    100% {
        opacity: 0;
    }
}



/* #Popin' */

#jqt .pop.in {
    -webkit-animation-name: popIn;
    animation-name: popIn;
}

#jqt .pop.out {
    -webkit-animation-name: popOut;
    animation-name: popOut;
}

@-webkit-keyframes popIn {
    0% {
        opacity: 0;
    }
    5% {
        -webkit-transform: scale(.2);
        opacity: 0;
    } 
    100% {
        -webkit-transform: scale(1);
        opacity: 1;
    }
}
@keyframes popIn {
    0% {
        opacity: 0;
    }
    5% {
        transform: scale(.2);
        opacity: 0;
    } 
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@-webkit-keyframes popOut {
    5% {
        -webkit-transform: scale(1);
        opacity: 1;
    } 
    100% {
        -webkit-transform: scale(.2);
        opacity: 0;
    }
}
@keyframes popOut {
    5% {
        transform: scale(1);
        opacity: 1;
    } 
    100% {
        transform: scale(.2);
        opacity: 0;
    }
}



/* Slide Left */

#jqt .slideleft.in {
    -webkit-animation-name: slideLeftIn;
    animation-name: slideLeftIn;
}

#jqt .slideleft.out {
    -webkit-animation-name: slideLeftOut;
    animation-name: slideLeftOut;
}

@-webkit-keyframes slideLeftIn {
    0% {
        -webkit-transform: translateX(90%);
    } 
    100% {
        -webkit-transform: translateX(0);
    }
}
@keyframes slideLeftIn {
    0% {
        transform: translateX(90%);
    } 
    100% {
        transform: translateX(0);
    }
}

@-webkit-keyframes slideLeftOut {
    0% {
        -webkit-transform: translateX(-10%);
    } 
    100% {
        -webkit-transform: translateX(-100%);
    }
}
@keyframes slideLeftOut {
    0% {
        transform: translateX(-10%);
    } 
    100% {
        transform: translateX(-100%);
    }
}



/* Slide Right */

#jqt .slideright.in {
    -webkit-animation-name: slideRightIn;
    animation-name: slideRightIn;
}

#jqt .slideright.out {
    -webkit-animation-name: slideRightOut;
    animation-name: slideRightOut;
}

@-webkit-keyframes slideRightIn {
    0% {
        -webkit-transform: translateX(-90%);
    } 
    100% {
        -webkit-transform: translateX(0);
    }
}
@keyframes slideRightIn {
    0% {
        transform: translateX(-90%);
    } 
    100% {
        transform: translateX(0);
    }
}

@-webkit-keyframes slideRightOut {
    0% {
        -webkit-transform: translateX(10%);
    } 
    100% {
        -webkit-transform: translateX(100%);
    }
}
@keyframes slideRightOut {
    0% {
        transform: translateX(10%);
    } 
    100% {
        transform: translateX(100%);
    }
}


/* Slide Up */

#jqt .slideup.in {
    -webkit-animation-name: slideUpIn;
    animation-name: slideUpIn;
}
#jqt .slideup.out {
    -webkit-animation-name: slideUpOut;
    animation-name: slideUpOut;
}

@-webkit-keyframes slideUpIn {
    0% {
        -webkit-transform: translateY(100%);
    }
    10% {
        -webkit-transform: translateY(80%);
    }
    100% {
        -webkit-transform: translateY(0%);
    }
}
@keyframes slideUpIn {
    0% {
        transform: translateY(100%);
    }
    10% {
        transform: translateY(80%);
    }
    100% {
        transform: translateY(0%);
    }
}

@-webkit-keyframes slideUpOut {
    0% {
        -webkit-transform: translateY(0%);
    }
    10% {
        -webkit-transform: translateY(-20%);
    } 
    100% {
        -webkit-transform: translateY(-100%);
    }
}
@keyframes slideUpOut {
    0% {
        transform: translateY(0%);
    }
    10% {
        transform: translateY(-20%);
    } 
    100% {
        transform: translateY(-100%);
    }
}



/* Slide Down */

#jqt .slidedown.in {
    -webkit-animation-name: slideDownIn;
    animation-name: slideDownIn;
}
#jqt .slidedown.out {
    -webkit-animation-name: slideDownOut;
    animation-name: slideDownOut;
}

@-webkit-keyframes slideDownIn {
    0% {
        -webkit-transform: translateY(-90%);
    } 
    100% {
        -webkit-transform: translateY(0%);
    }
}
@keyframes slideDownIn {
    0% {
        transform: translateY(-90%);
    } 
    100% {
        transform: translateY(0%);
    }
}

@-webkit-keyframes slideDownOut {
    0% {
        -webkit-transform: translateY(10%);
    } 
    100% {
        -webkit-transform: translateY(100%);
    }
}
@keyframes slideDownOut {
    0% {
        transform: translateY(10%);
    } 
    100% {
        transform: translateY(100%);
    }
}

#jqt .slideleft, #jqt .slideright, #jqt .slideup, #jqt .slidedown {
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
}

@if $include-3d-animations {
    
    /* Flip Left */

    #jqt .flipleft {
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    #jqt .flipleft.in {
        -webkit-animation-name: flipLeftIn;
        animation-name: flipLeftIn;
    }

    #jqt .flipleft.out {
        -webkit-animation-name: flipLeftOut;
        animation-name: flipLeftOut;
    }

    @-webkit-keyframes flipLeftIn {
        0% {
            opacity: 0;
        }
        5% {
            opacity: 1;
            -webkit-transform: rotateY(180deg) scale(.8);
        } 
        100% {
            -webkit-transform: rotateY(0deg) scale(1);
        }
    }
    @keyframes flipLeftIn {
        0% {
            opacity: 0;
        }
        5% {
            opacity: 1;
            transform: rotateY(180deg) scale(.8);
        } 
        100% {
            transform: rotateY(0deg) scale(1);
        }
    }

    @-webkit-keyframes flipLeftOut {
        5% {
            -webkit-transform: rotateY(0deg) scale(1);
        } 
        100% {
            -webkit-transform: rotateY(-180deg) scale(.8);
        }
    }
    @keyframes flipLeftOut {
        5% {
            transform: rotateY(0deg) scale(1);
        } 
        100% {
            transform: rotateY(-180deg) scale(.8);
        }
    }



    /* Flip Right */

    #jqt .flipright {
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    #jqt .flipright.in {
        -webkit-animation-name: flipRightIn;
        animation-name: flipRightIn;
    }

    #jqt .flipright.out {
        -webkit-animation-name: flipRightOut;
        animation-name: flipRightOut;
    }

    @-webkit-keyframes flipRightIn {
        0% {
            opacity: 0;
        }
        5% {
            -webkit-transform: rotateY(-180deg) scale(.8);
        } 
        100% {
            -webkit-transform: rotateY(0deg) scale(1);
        }
    }
    @keyframes flipRightIn {
        0% {
            opacity: 0;
        }
        5% {
            transform: rotateY(-180deg) scale(.8);
        } 
        100% {
            transform: rotateY(0deg) scale(1);
        }
    }

    @-webkit-keyframes flipRightOut {
        5% {
            -webkit-transform: rotateY(0deg) scale(1);
        } 
        100% {
            -webkit-transform: rotateY(180deg) scale(.8);
        }
    }
    @keyframes flipRightOut {
        5% {
            transform: rotateY(0deg) scale(1);
        } 
        100% {
            transform: rotateY(180deg) scale(.8);
        }
    }



    /* Swap Right */

    #jqt .swapright {
        -webkit-animation-duration: .7s;
        -webkit-transform: perspective(800);
        -webkit-animation-timing-function: ease-out;
        animation-duration: .7s;
        transform: perspective(800);
        animation-timing-function: ease-out;
    }
    #jqt .swapright.in {
        -webkit-animation-name: swapRightIn;
        animation-name: swapRightIn;
    }
    #jqt .swapright.out {
        -webkit-animation-name: swapRightOut;
        animation-name: swapRightOut;
    }

    @-webkit-keyframes swapRightIn {
        0% {
            opacity: 0;
        }
        5% {
            -webkit-transform: translate3d(0px, 0px, -800px) rotateY(70deg);
            opacity: 0;
        }
        35% {
            -webkit-transform: translate3d(-180px, 0px, -400px) rotateY(20deg);
            opacity: 1;
        }
        95% {
            -webkit-transform: translate3d(0px, 0px, 0px) rotateY(0deg);
            opacity: 1;
        }
    }
    @keyframes swapRightIn {
        0% {
            opacity: 0;
        }
        5% {
            transform: translate3d(0px, 0px, -800px) rotateY(70deg);
            opacity: 0;
        }
        35% {
            transform: translate3d(-180px, 0px, -400px) rotateY(20deg);
            opacity: 1;
        }
        95% {
            transform: translate3d(0px, 0px, 0px) rotateY(0deg);
            opacity: 1;
        }
    }

    @-webkit-keyframes swapRightOut {
        5% {
            -webkit-transform: translate3d(0px, 0px, 0px) rotateY(0deg);
            opacity: 1;
        }
        35% {
            -webkit-transform:  translate3d(180px, 0px, -400px) rotateY(-20deg);
            opacity: .5;
        }
        95% {
            -webkit-transform: translate3d(0px, 0px, -800px) rotateY(-70deg);
            opacity: 0;
        }
    }
    @keyframes swapRightOut {
        5% {
            transform: translate3d(0px, 0px, 0px) rotateY(0deg);
            opacity: 1;
        }
        35% {
            transform:  translate3d(180px, 0px, -400px) rotateY(-20deg);
            opacity: .5;
        }
        95% {
            transform: translate3d(0px, 0px, -800px) rotateY(-70deg);
            opacity: 0;
        }
    }

    /* Swap Left */

    #jqt .swapleft {
        -webkit-animation-duration: .7s;
        -webkit-transform: perspective(800);
        -webkit-animation-timing-function: ease-out;
        animation-duration: .7s;
        transform: perspective(800);
        animation-timing-function: ease-out;
    }
    #jqt .swapleft.in {
        -webkit-animation-name: swapLeftIn;
        animation-name: swapLeftIn;
    }
    #jqt .swapleft.out {
        -webkit-animation-name: swapLeftOut;
        animation-name: swapLeftOut;
    }

    @-webkit-keyframes swapLeftIn {
        0% {
            opacity: 0;
        }
        5% {
            -webkit-transform: translate3d(0px, 0px, -800px) rotateY(-70deg);
            opacity: 0;
        }
        35% {
            -webkit-transform: translate3d(180px, 0px, -400px) rotateY(-20deg);
            opacity: 1;
        }
        95% {
            opacity: 1;
            -webkit-transform: translate3d(0px, 0px, 0px) rotateY(0deg);
        }
    }
    @keyframes swapLeftIn {
        0% {
            opacity: 0;
        }
        5% {
            transform: translate3d(0px, 0px, -800px) rotateY(-70deg);
            opacity: 0;
        }
        35% {
            transform: translate3d(180px, 0px, -400px) rotateY(-20deg);
            opacity: 1;
        }
        95% {
            opacity: 1;
            transform: translate3d(0px, 0px, 0px) rotateY(0deg);
        }
    }

    @-webkit-keyframes swapLeftOut {
        5% {
            -webkit-transform: translate3d(0px, 0px, 0px) rotateY(0deg);
            opacity: 1;
        }
        35% {
            -webkit-transform: translate3d(-180px, 0px, -400px) rotateY(20deg);
            opacity: .5;
        }
        95% {
            -webkit-transform:  translate3d(0px, 0px, -800px) rotateY(70deg);
            opacity: 0;
        }
    }
    @keyframes swapLeftOut {
        5% {
            transform: translate3d(0px, 0px, 0px) rotateY(0deg);
            opacity: 1;
        }
        35% {
            transform: translate3d(-180px, 0px, -400px) rotateY(20deg);
            opacity: .5;
        }
        95% {
            transform:  translate3d(0px, 0px, -800px) rotateY(70deg);
            opacity: 0;
        }
    }


    // Cubes
    /* Cube Left */

    // Unfortunately, to acheive a proper cube effect,
    // we need the page width. Assuming 320px here. Attempting to use 100vw

    #jqt .cubeleft, #jqt .cuberight {
        &.in, &.out {
            -webkit-animation-duration: .6s;
            // -webkit-animation-timing-function: linear;
            -webkit-transform: perspective(800);
            animation-duration: .6s;
            transform: perspective(800);
        }
    }

    #jqt .cubeleft.in {
        -webkit-transform-origin: 0% 50%;
        -webkit-animation-name: cubeLeftIn;
        transform-origin: 0% 50%;
        animation-name: cubeLeftIn;
    }

    #jqt .cubeleft.out {
        -webkit-transform-origin: 100% 50%;
        -webkit-animation-name: cubeLeftOut;
        transform-origin: 100% 50%;
        animation-name: cubeLeftOut;
    }

    @-webkit-keyframes cubeLeftIn {
        0% {
            opacity: 0;
        }
        5% {
            -webkit-transform: rotateY(90deg) translateZ(100vw);
            opacity: .5;
        }
        95% {
            -webkit-transform: rotateY(0deg) translateZ(0) translateX(0);
            opacity: 1;
        }
    }
    @keyframes cubeLeftIn {
        0% {
            opacity: 0;
        }
        5% {
            transform: rotateY(90deg) translateZ(100vw);
            opacity: .5;
        }
        95% {
            transform: rotateY(0deg) translateZ(0) translateX(0);
            opacity: 1;
        }
    }

    @-webkit-keyframes cubeLeftOut {
        5% {
            -webkit-transform: rotateY(0deg) translateZ(0) translateX(0);
            opacity: 1;
        }
        95% {
            -webkit-transform: rotateY(-90deg) translateZ(100vw);
            opacity: .5;
        }
    }
    @keyframes cubeLeftOut {
        5% {
            transform: rotateY(0deg) translateZ(0) translateX(0);
            opacity: 1;
        }
        95% {
            transform: rotateY(-90deg) translateZ(100vw);
            opacity: .5;
        }
    }

    /* Cube Right */

    #jqt .cuberight.in {
        -webkit-transform-origin: 100% 50%;
        -webkit-animation-name: cubeRightIn;
        transform-origin: 100% 50%;
        animation-name: cubeRightIn;
    }

    #jqt .cuberight.out {
        -webkit-transform-origin: 0% 50%;
        -webkit-animation-name: cubeRightOut;
        transform-origin: 0% 50%;
        animation-name: cubeRightOut;
    }

    @-webkit-keyframes cubeRightIn {
        0% {
            opacity: 0;
        }
        5% {
            -webkit-transform: rotateY(-90deg) translateZ(100vw);
            opacity: .5;
        }
        95% {
            -webkit-transform: rotateY(0deg) translateZ(0) translateX(0);
            opacity: 1;
        }
    }
    @keyframes cubeRightIn {
        0% {
            opacity: 0;
        }
        5% {
            transform: rotateY(-90deg) translateZ(100vw);
            opacity: .5;
        }
        95% {
            transform: rotateY(0deg) translateZ(0) translateX(0);
            opacity: 1;
        }
    }

    @-webkit-keyframes cubeRightOut {
        5% {
            -webkit-transform: rotateY(0deg) translateZ(0) translateX(0);
            opacity: 1;
        }
        95% {
            -webkit-transform: rotateY(90deg) translateZ(100vw);
            opacity: .5;
        }
    }
    @keyframes cubeRightOut {
        5% {
            transform: rotateY(0deg) translateZ(0) translateX(0);
            opacity: 1;
        }
        95% {
            transform: rotateY(90deg) translateZ(100vw);
            opacity: .5;
        }
    }

}
